slurm_logs/
.ipynb_checkpoints/
results/
wandb/
__pycache__/
logs/
finetune-outputs/
experiment_results.pdf
experiment_results_all_models.pdf
results_and_figures/
old_concise_results/
concise_results/
deduped*
.DS_Store
